.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 110vh;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
.desc {
  padding-top: 50px;
}

/* .bar::after {
  content: "";
  position: absolute;
  left: 180px;
  bottom: -145px;
  background-color: rgb(0, 0, 0);
  width: 85%;
  height: 5px;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  transform: scaleY(0.4);
} */

.title {
  color: var(--color-text);
  margin-top: 120px;
  font-size: 30px;
}

.subtitle {
  color: var(--sub-text);
}

@media screen and (max-width: 768px) {
  /* .content {
    margin-left: 20px;
  } */
  /* .bar::after {
    left: 160px;
    width: 55%;
  } */
}
