.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 110vh;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.title {
  color: var(--list-title);
  margin-top: 120px;
  font-size: 30px;
}

.subtitle {
  color: var(--list-sub-title);
}
.desc {
  padding-top: 50px;
  color: var(--color-text);
}
/* @media screen and (max-width: 768px) {
} */
