.container {
  height: 130vh;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: "Noto Sans KR", sans-serif;
}

.image {
  background: url("../assets/K-058.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin-right: 50px;
}

.title {
  color: var(--list-title);
  margin-top: 120px;
  font-size: 30px;
}

.subtitle {
  color: var(--list-sub-title);
  margin-bottom: 40px;
}
.about_content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  color: var(--color-text);
}
.about_desc {
  line-height: 2.1;
  font-size: 17px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.about_desc::nth-child(number) {
  margin-bottom: 20px;
}
.about_desc_content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .image {
    display: none;
  }
  .about_content {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .about_desc {
    margin-right: 0px;
    font-size: 15px;
  }
}
