.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 10%;
  padding-top: 42px;
  /* background-color: rgb(154, 154, 154); */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
}
.menuItems a {
  font-size: 20px;
  color: var(--color-text);
}
