.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 210vh;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.projects_title {
  margin-top: 120px;
  color: var(--list-title);
  font-size: 30px;
}

.projects_subtitle {
  color: var(--list-sub-title);
}

@media screen and (max-width: 768px) {
  .container {
    height: 350vh;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
