/* common */
:root {
  --main-bg: #fafafa;
  --white-bg: #ffffff;
  --color-text: #000000;

  /* home */
  --projectcard-text: #ededed;
  --home-sub-maintitle: #0e4883;
  --home-sub-title: #7d7d7d;
  --home-social-hover: #a1a1a1;
  --arrow-color: #000000;

  /* nav */
  --nav-bgColor: #ffffff;
  --nav-hover: #96caf5;

  /* list title */
  --list-title: #000000;
  --list-sub-title: #7d7d7d;

  /* mobile */
  --button-hover-bg: #3b3b3c;

  /* contact */
  --label-color: #0e4883;
  --input-color: #7d7d7d;
  --button-text: #fafbfc;
  --button-bg: #326187;

  --card-bg: #3b3b3c;
  --accent-color: #7bbdf3;
  --accent-home-menu: #7bbdf3;
}
