:root {
  --main-bg: #fafafa;
  --sub-text: #7d7d7d;
  --color-text: #000000;
  --button-bg: #2d98ef;
  --button-text: #fafbfc;
  --button-hover-bg: #3b3b3c;
  --social-hover: #a1a1a1;
  --accent-color: #7bbdf3;
  --main-title-hover: #7bbdf3;
}
